
body{
    background-color:white;
    margin:0%;
    padding: 0%;
}
/* body */

/*navbar*/
.nav{
background-color: aqua;

}
.nav ul li{
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  padding: 1%;
}

.nav ul li a{
    color:black;
    text-decoration: none;
}

.nav ul li a:hover{
    color:red;
}
.nav h1{
    font-family: 'Oswald', sans-serif;
    text-align: right;
    padding: 2% 5% 0% 0%;

}

/* who */
#Who{
    background-color: aquamarine;
}

#who h1{
    text-align: center;
    padding:5%;
    font-size:35;
    font-family: 'Oswald', sans-serif;
}

#who p{
    font-size: 30px;
    padding-bottom: 10%;
    padding-left:5%;
    padding-right:5%;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0%;

}

#skill{
background-color: cadetblue;
}

#skill h2{
    text-align: center;
    padding-bottom:5%;
    font-size:35px;
    font-family: 'Oswald', sans-serif;
}

#skill p{
    font-size: 30px;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-left: 5%;
    font-family: 'Source Sans Pro', sans-serif;

}
#skill ul{
font-size:24px;
font-family: 'Source Sans Pro', sans-serif;
margin-left:5%;
}

#skill ul li{
    padding:1%;
}

#skill-ul2{
    font-size:24px;
    padding-bottom:5%;
    font-family: 'Source Sans Pro', sans-serif;
    }
    
#ul2 li{
    padding:1%;
    }
    


#skill h3{
    font-size:25px;
    font-family: 'Oswald', sans-serif;
    margin-left:5%;
}
/*hobbies*/
#hobbies{
    background-color: blueviolet;
}

#hobbies h2{
    text-align: center;
    font-size:35px;
    font-family: 'Oswald', sans-serif;
}
#hobbies p{
    padding-bottom:0%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5%;
}
#hobbies img{
padding: 0% 5% 0% 5%;
text-align: center;
}

.footer{
    background-color: darkcyan;
}

.footer h3{
    text-align: center;
    font-size:28px;
    font-family: 'Oswald', sans-serif;
}

.texto{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5%;
    height: 10%;
    width: 30%;
    margin:5%;
}

.submit{
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
    background-color:rgb(64, 189, 64); 
    border-radius:45%;
}