
body{
    background-color:white;
    margin:0%;
    paddding:0%;
}
/* body */

/*navbar*/
.nav ul li a{
    text-decoration: none;
    color: black;
   
}

.nav ul{
}
.nav ul li{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.nav button{
    background-color:rgb(98, 241, 98);
    border-radius:10% 5% 10% 5%;
    font-size: 15px;
}
.nav button:hover{
    background-color: rgb(65, 202, 65)
}

.nav ul li a:hover{
    color:red;
}
.nav h1 a{
    color: black;
    text-decoration: none;
    font-family:'Roboto Condensed', sans-serif;
}

/* who */
#Who{
    background-color:white-smoke;
}

#who h1{
    text-align: center;
    padding:5%;
    font-size:35;
    font-family:'Roboto Condensed', sans-serif;
}

#who p{
    font-size: 30px;
    padding-bottom: 10%;
    padding-left:5%;
    padding-right:5%;
    font-family: 'roboto'; 
    margin:0%;
}

#skill{
background-color: #808DFF;
}


#skill h2{
    text-align: center;
    padding-bottom:5%;
    font-size:35px;
    font-family: 'Roboto Condensed', sans-serif;
}

#skill p{
    font-size: 30px;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-left: 5%;
    font-family: 'roboto', serif;

}
#skill ul{
font-size:24px;
font-family: 'roboto', serif;
margin-left:5%;
}

#skill ul li{
    padding:1%;
}

.ul2{
    font-size:24px;
    padding-bottom:10%;
    font-family: 'roboto'; 
    }
    
.ul2 li{
    padding:1%;
    }
    

#skill h3{
    font-size:25px;
    font-family:'Roboto Condensed', sans-serif;
    margin-left:5%;
}
/*facts*/
#facts{
    background-color: #7E68E8;
}

#facts h2{
    text-align: center;
    font-size:35px;
    font-family:'Roboto Condensed', sans-serif;
}
#facts p{
    padding-bottom:0%;
    font-size: 30px;
    font-family: 'roboto', serif;
    padding: 5%;
}

/*footer*/
.footer{
    background-color:#023842;
    padding-bottom: 15%;
    bottom:0;
}

.footer h3{
    text-align: center;
    font-size:28px;
    font-family: 'Roboto Condensed', sans-serif;
   
}

/*This section below is  for the contact me page */

