
body{
    background-color:white;
    margin:0%;
}
/* body */

/*navbar*/
.nav{
    background-color: white-smoke;
    font-family:'Bitter', serif;
    overflow: hidden;
    float: left;
    position: absolute;
}   

  
.nav ul li{
    display: inline-block;
    padding-left:1%; 
}

.nav ul li a{
    text-decoration: none;
    color:black;
}

.nav button{
    background-color:rgb(98, 241, 98);
    border-radius:10%;
    font-size: 15px;
}
.nav button:hover{
    background-color: rgb(65, 202, 65)
}

.nav ul li a:hover{
    color:red;
}
.nav h1 a{
    color: black;
    text-decoration: none;
}
.header{
    text-decoration:none;
}
/* who */
#Who{
    background-color: aquamarine;
    background-image: url("https://cdn.shopify.com/s/files/1/2440/7149/products/NB-298_1400x.jpg?v=1565261020") ;
    background-size:cover;
    opacity: 0.8;
}

#who h1{
    text-align: center;
    padding:5%;
    font-size:35;
    font-family:'Bitter', serif;
}

#who p{
    font-size: 30px;
    padding-bottom: 10%;
    padding-left:5%;
    padding-right:5%;
    font-family: 'Muli', sans-serif; 
    margin:0%;
}

#skill{
background-color: cadetblue;
}

#skill img{
    padding-left:5%;
    padding-right:5%; 
}

#skill h2{
    text-align: center;
    padding-bottom:5%;
    font-size:35px;
    font-family:  'Bitter', serif;
}

#skill p{
    font-size: 30px;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-left: 5%;
    font-family: 'Muli', sans-serif; 

}
#skill ul{
font-size:24px;
font-family: 'Muli', sans-serif; 
margin-left:5%;
}

#skill ul li{
    padding:1%;
}

.ul2{
    font-size:24px;
    padding-bottom:10%;
    font-family: 'Muli', sans-serif; 
    }
    
.ul2 li{
    padding:1%;
    }
    

#skill h3{
    font-size:25px;
    font-family: 'Bitter', serif;
    margin-left:5%;
}
/*hobbies*/
#hobbies{
    background-color: blueviolet;
    background-image: url("https://www.regulationmatters.uk/wp-content/uploads/2018/01/chess.jpeg");
    background-size:cover;
    opacity:0.7 ;
}

#hobbies h2{
    text-align: center;
    font-size:35px;
    font-family:  'Bitter', serif;
}
#hobbies p{
    padding-bottom:0%;
    font-size: 30px;
    font-family: 'Muli', sans-serif; 
    padding: 5%;
}

/*footer*/
.footer{
    background-color: darkcyan;
    padding-bottom: 15%;
}

.footer h3{
    text-align: center;
    font-size:28px;
    font-family:  'Bitter', serif;
   
}


