
body{
    background-color:rgb(203, 214, 235);
    margin:0% 0;
}
   
/* body */

.nav {
    background-color:red;
    position:fixed;
    
    width:100%;
    height:5%;
}
.nav ul{
    text-align:left;
    display: inline;
    text-decoration: none;
}

.nav ul li{
    color:black;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    padding-left:1%;
}
.nav ul li:hover {
    color:red;
}
.nav h1{
    margin-right:4%;
    text-align:right;
    position: relative;
    top:0;
    font-family: 'Oswald', sans-serif;
}

/* who */
.Who{
    background-color: aquamarine;
}
    

.who h1{
    text-align: center;
    padding:5%;
    font-size:35;
    font-family: 'Oswald', sans-serif;
}

.who p{
    font-size: 30px;
    padding-bottom: 10%;
    padding-left:30px;
    padding-right:30px;
    font-family: 'Source Sans Pro', sans-serif;
    margin:5%;

}

.skill{
background-color: cadetblue;
}

.skill h2{
    text-align: center;
    padding:5%;
    font-size:35px;
    font-family: 'Oswald', sans-serif;
}

.skill p{
    font-size: 30px;
    padding-bottom:0%;
    margin:5%;
    font-family: 'Source Sans Pro', sans-serif;

}
.skill ul{
font-size:24px;
padding-bottom:0%;
font-family: 'Source Sans Pro', sans-serif;
margin-left:5%;
}

.skill ul li{
    padding:1%;
}

.skill-ul2{
    font-size:24px;
    padding-bottom:0%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:5%;
    padding-bottom:10%;
    }
    
    .ul2 li{
        padding:1%;
    }
    


.skill h3{
    font-size:25px;
    font-family: 'Oswald', sans-serif;
    margin-left:5%;
}
/*hobbies*/
#hobbies{
    margin:5%;
}

#hobbies h2{
    text-align: center;
    font-size:35px;
    font-family: 'Oswald', sans-serif;
}
#hobbies p{
    padding-bottom:20%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
#footer{
    background-color: darkcyan;
}

#footer h3{
    text-align: center;
    font-size:28px;
    font-family: 'Oswald', sans-serif;
}

